{% extends "main.html" %}
{% block title %}Ware House System{% endblock %}
{% block content %}

<br><br><br><br><br>
<style>

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 20px 30px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20pt;
    outline: none;
    
}
button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}


</style>

        <br>
        <br>
        <br>
        <br>

        
        <table  width="800" align="center" >
                 
        <form> 
                <tr>
                 <td>Payment Number:{{The_Current_Rent.order_id}}<td width="100" height="50"></td>
                 <td>Payment Date: {{The_Current_Rent.order_date}}</td>
                 <td width="100" height="50"></td>
                </tr>
               
                <tr>
                                <td>Amount: {{The_Warehouse.warehouse_price}}</td>
                                <td width="100" height="50"></td>
                        
                        <td>Status Paid: </td>
                        <td width="100" height="50"></td>
                        
                    </tr>
  
                    <tr>
                            <td>Warehouse Password: </td>
                            <td width="100" height="50"></td>
                    </tr>

                    <tr >
                            <table border="0" width="800" height="100" align="center" cellspacing="0" > 
                                <tr align="center">
                                        <td bgcolor="white">{{The_Warehouse.current_password}}</td>
                    </tr>
                    
                    <tr >
                            <td>Please remember it: </td>
                            <td width="100" height="50"></td>
                    </tr>
                    
                    <tr >
                            <table border="0" width="300" height="100" align="center" cellspacing="0" > 
                            <td bgcolor="white"><a  href="{% url "index" %}"<button>Return to Index</button></a></td>
                        </tr>
                        </table>>
                </form>


{% endblock %}