{% extends "main.html" %}
{% block title %}Ware House System{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br>
<style>

    button {
        color: #444444;
        background: #F3F3F3;
        border: 1px #DADADA solid;
        padding: 20px 30px;
        border-radius: 2px;
        font-weight: bold;
        font-size: 11pt;
        outline: none;
        
    }
    button:hover {
        border: 1px #C6C6C6 solid;
        box-shadow: 1px 1px 1px #EAEAEA;
        color: #333333;
        background: #F7F7F7;
    }
    button:active {
        box-shadow: inset 1px 1px 1px #DFDFDF;   
    }
    
    </style>
    <h1 style="margin:0 10px 10px;">View all lender</h1>
     <hr/>
     
     
     <div board = 1, body style = "background-color: white">
       <ul>
    <table  width="800" align="center" >
    {% for lender in all_account %}
    <li><a href="/manage_account_lender/{{ lender.user_id }}">User Name: {{ lender.username }}First Name: {{ lender.first_name }} Last Nmae: {{ lender.last_name }} Last log in: {{ lender.last_login}}</a></li>
    {% endfor %}

    </table>
</ul>
    </div>



{% endblock %}